h1 {
    margin: 0;
    text-align: center;
    padding: 1rem;
  }
  h2 {
    margin: 0;
    text-align: center;
    padding: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ul li {
    font-size: 1.2rem;
    margin: 1rem auto;
  }
  
  button {
    background-color: crimson;
    color:bisque;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
  }
  

  button:hover {
    outline: none;
    background-color: rgb(65, 9, 41);
  }

  .answer {
    background-color: darkgoldenrod;
    font-size: 1.2rem;
    width: 85%;
    padding: 1rem;
    margin: 3px;
    border-radius: 25px;
    border: none;
    outline: none;
  }
  .answer:hover {
    outline: none;
    background-color: rgb(24, 170, 73);
  }
  .answer:focus {
    outline: none;
    background-color: rgb(23, 80, 42);
  }